.issues-wrapper {
  align-items: flex-start;
  padding: 2rem 0;
}

.issues-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.issues-nav {
  flex: 0 0 200px;
}

.issues-nav-toggle {
  display: block;
  margin-bottom: 1rem;
  background: var(--secondary-color);
  color: #fff;
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
  cursor: pointer;
}

.issues-wrapper.collapsed .issues-nav {
  display: none;
}

.issues-wrapper.collapsed .issues-content {
  flex-basis: 100%;
}

.issues-content {
  flex: 1;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}